[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
panda3d = "*"
panda3d-gltf = "*"
panda3d-simplepbr = "*"
pylint = "*"

[dev-packages]

[requires]
python_version = "3.12"
